{% extends 'base.html.twig' %}

{% block body_id 'Magecore_TestTask_user_list' %}

    {% block title %} {{ 'title.user.list'|trans }} {% endblock %}

{% block body %}
<div>

    <h2>{{ 'title.user.list'|trans }} User list </h2>


    <table class="table table-striped">
        <thead>
        <tr>
            <th><i class="fa fa-user"></i>{{ 'field.username'|trans }}</th>
            <th><i class="fa fa-user"></i>{{ 'field.fullname'|trans }}</th>
            <th><i class="fa fa-calendar"></i>{{ 'field.timezone'|trans }}</th>
            <th><i class="fa fa-cogs"></i>{{ 'field.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.timezone }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('magecore_test_task_user_view', { id: user.id }) }}" class="btn btn-sm btn-default">
                            {{ 'action.show'|trans }}
                        </a>
                        {% if app.user and (is_granted('ROLE_ADMIN') or user.isOwner(app.user))%}
                        {#{% if post.isAuthor(app.user) %}#}
                            <a href="{{ path('magecore_test_task_user_update', { id: user.id }) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}