{% extends 'base.html.twig' %}

{% block title %}{{ 'title.profile'|trans }}, {{ user.username }}{% endblock %}

{% block main %}
    {% import "MagecoreTestTaskBundle:Macro:Macro.html.twig" as frms %}
    <div class="panel panel-info">
    <h2>{{ 'title.user.view'|trans }} :{{ user.username }}</h2>
    <h3>{{ 'field.fullname'|trans }}: {{ user.FullName }}</h3>
    {% if user.avapath %}
    <img src="{{ asset(file_helper.getWebPath(user.avapath)) }}">
        {% else %}
        <p>{{ 'message.no.ave'|trans }}</p>
        {% endif %}
    <h3>{{ 'field.mail'|trans }}</h3>
    <h2>{{ user.email }}</h2>
    <h3>{{ 'field.roles'|trans }}</h3>
    {% if user.roles is iterable %}
        <h2> {% for role in user.roles %} {{ role }}{% if not loop.last %},{% endif %} {% if not loop.index % 3 %}<br> {% endif %}  {% endfor %}</h2>
    {% else %}
        <h2> {{  user.roles }},</h2>
    {% endif %}
    <h3>{{ 'field.timezone'|trans }}</h3>
    <h2>{{ user.timezone }}</h2>


    <h4>{% if user.accountNonLocked %}
            {{ 'message.locked'|trans }}
        {% else %}
            {{ 'message.no.locked'|trans }}
        {% endif %}</h4>
    </div>
    {% block Acvivity %}
        <div id="user_activity_block">
            <h4>{{ 'title.activity'|trans }}</h4>
            {% if user.activity %}
                {{ include('MagecoreTestTaskBundle:Activity:list_frame.html.twig',{activities : user.activity}) }}
            {% endif %}
        </div>
    {% endblock %}

    {% block Issues %}
        <div id="User_issue_list">
            <h4>{{ 'title.issues.open'|trans }}</h4>
                {{ include('MagecoreTestTaskBundle:Issue:list_frame.html.twig',{issues : issues}) }}

        </div>

    {% endblock %}


{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {#{% if app.user and (is_granted( 'ROLE_ADMIN' ) or is_granted('ROLE_MANAGER') ) %}#}
            {#<a href="{{ path('magecore_test_task_project_update', { id: project.id }) }}" class="btn btn-lg btn-block btn-success">#}
                {#{{ 'action.edit'|trans }}#}
            {#</a>#}
            {#<a href="{{ path('magecore_test_task_project_create') }}" class="btn btn-lg btn-block btn-success">#}
                {#{{ 'action.new.project'|trans }}#}
            {#</a>#}
        {#{% endif %}#}

        {% if app.user and (is_granted( 'ROLE_ADMIN' ) or user.isowner(app.user) ) %}
            <a href="{{ path('magecore_test_task_user_update', { id: user.id }) }}"  class="btn btn-lg btn-block btn-success">
                {{ 'action.edit'|trans }}
            </a>
        {% endif %}
    </div>
{% endblock %}