{% if activities is not empty %}
    {% import "MagecoreTestTaskBundle:Macro:Macro.html.twig" as frms %}
    <table class="table table-hover">
        <tr>
            <th>{{ 'issue.title'|trans }}</th>
            <th><i class="fa fa-user">{{ 'field.user'|trans }}</th>
            <th>{{ 'field.type'|trans }}</th>
            <th><i class="fa fa-calendar">{{ 'field.time'|trans }}</th>
            <th>{{ 'field.message'|trans }}</th>
        </tr>
        {% for activ in activities %}
            <tr>
                <td>
                    {{ frms.linkEnt(activ.issue) }}
                </td>
                <td>
                    {{ frms.linkEnt(activ.user) }}
                </td>
                <td>
                    {{ activ.type|trans }}
                </td>
                <td>
                    {{ activ.time|datertz }}
                </td>
                <td>
                    {% if activ.isNewIssueType %}
                   {{ 'message.new_issue'|trans }}
                    {% endif %}
                    {% if activ.isChangeStatusType %}
                        {{ 'message.status_changed'|trans({'%status_from%': activ.FromIssueStatus|trans, '%status_to%': activ.ToIssueStatus|trans} ) }}
                    {% endif %}
                    {% if activ.isCommentType %}
                        {{ 'message.new_comment'|trans }} {{ frms.linkEnt(activ.comment) }}
                    {% endif %}

                </td>

            </tr>
        {% endfor %}
    </table>
{% else %}
    {{ 'message.no.activity'|trans }}
{% endif %}
