

{% block body -%}
{% if entities %}
    {% import "MagecoreTestTaskBundle:Macro:Macro.html.twig" as frms %}


        <table class="records_list">
            <thead>
            <tr>
                <th>Id</th>
                <th>Body</th>
                <th>Author</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for entity in entities %}
                <tr {% if edit_id is defined %}
                        {% if entity.id == edit_id %}style="background-color: #003bb3"{% endif %}
                    {% endif %}>
                    <td><a name="comment-{{ entity.id }}"> {{ frms.linkEnt(entity) }}</td>
                <td>{{ entity.body }}</td>
                <td>{{ frms.linkEnt(entity.author) }}</td>
                <td>{{ entity.created|datertz(app.user) }}</td>
                <td>{{ entity.updated|datertz(app.user) }}</td>
                <td>
                <ul>
                    <li>
                        <a href="#{#{{ path('comment_show', { 'id': entity.id }) }}#}  ">remove</a>
                    </li>
                    <li>
                        <a href="#{#{{ path('comment_edit', { 'id': entity.id }) }}#}" class="comment_edit_action" data-content="{{ path('magecore_testtask_comment_edit', {id: entity.id}) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="form_error"></div>
        <form method="POST" class="ajaxForm" action="{{path('magecore_testtask_comment_create',{id: issue_id })}}" {{ form_enctype(addComment) }}>
            <div id="form_body">
                {% include 'MagecoreTestTaskBundle:Comment:form.html.twig' with {'form': addComment} %}
            </div>

            <button type="submit" class="btn btn-primary" id="button_submit" >Submit</button>
            {{form_rest(addComment)}}
        </form>
        </div>
{% endif %}
    {% endblock %}
