{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Issue list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Summary</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('magecore_testtask_issue_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.summary }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.created %}{{ entity.created|datertz }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|datertz }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('magecore_testtask_issue_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('issue_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            {#<a href="{{ path('magecore_testtask_issue_new') }}">
                Create a new entry
            </a>#}
        </li>
    </ul>
    <p>current time : {{ "now"|date('Y-m-d H:i:s',app.user.gettimezone) }}</p>
    <p>current time : {{ "now"|date('Y-m-d H:i:s') }}</p>
    {% endblock %}
