{% extends '::base.html.twig' %}

{% block title %} {{ 'title.issue.list'|trans }} {% endblock %}

{% block body -%}
    <h1>{{ 'title.issue.list'|trans }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'field.id'|trans }}</th>
                <th>{{ 'field.code'|trans }}</th>
                <th>{{ 'field.summary.issue'|trans }}</th>
                <th>{{ 'field.description'|trans }}</th>
                <th><i class="fa fa-calendar">{{ 'field.created'|trans }}</th>
                <th><i class="fa fa-calendar">{{ 'field.updated'|trans }}</th>
                <th><i class="fa fa-cogs">{{ 'field.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('magecore_testtask_issue_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.summary }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.created %}{{ entity.created|datertz }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|datertz }}{% endif %}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('magecore_testtask_issue_show', { 'id': entity.id }) }}" class="btn btn-sm btn-default"> {{ 'action.show'|trans }}</a>
                        <a href="{{ path('magecore_testtask_issue_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i>{{ 'action.edit'|trans }}</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
