{% extends '::base.html.twig' %}

{% block title %} {{ 'title.issue.create'|trans }} {% endblock %}

{% block main -%}
    <h1>{{ 'title.issue.create'|trans }}</h1>

    {{ form(form) }}

{% endblock %}

{% block sidebar %}
    <div class="section actions">
                <a href="{{ path('magecore_testtask_issue') }}" class="btn btn-lg btn-block btn-success">
                    {{ 'action.back.list'|trans }}
                </a>
        {% if entity.issubtask %}
                <a href="{{ path('magecore_testtask_issue_show', {id: entity.ParentIssue.id}) }}" class="btn btn-lg btn-block btn-success">
                    {{ 'action.back'|trans }}
                </a>
        {% endif %}
    </div>
{% endblock %}
