{% extends '::base.html.twig' %}



{% block main %}
    <h1>{{ 'issue.title'|trans }}</h1>
    {% import "MagecoreTestTaskBundle:Macro:Macro.html.twig" as frms %}


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{{ 'field.id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'field.summary.issue'|trans }}</th>
                <td>{{ entity.summary }}</td>
            </tr>
            <tr>
                <th>{{ 'field.code'|trans }}</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>{{ 'field.description'|trans }}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ 'field.type'|trans }}</th>
                <td>{{ entity.type|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'field.reporter'|trans }}</th>
                <td>{{ frms.linkEnt(entity.reporter) }}</td>
            </tr>
            <tr>
                <th>{{ 'field.assigned'|trans }}</th>
                <td>{{ frms.linkEnt(entity.assignee) }}</td>
            </tr>
            <tr>
                <th>{{ 'field.project'|trans }}</th>
                <td>{{ frms.linkEnt(entity.project) }}</td>
            </tr>
            <tr>
                <th>{{ 'field.priority'|trans }}</th>
                <td>{{ entity.priority|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'field.status'|trans }}</th>
                <td>{{ entity.status|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'field.resolution'|trans }}</th>
                <td>{% if entity.resolution %}{{ entity.resolution|trans }}{% else %}{{ 'value.unresolved'|trans }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'field.created'|trans }}</th>
                <td>{{ entity.created|datertz }}</td>
            </tr>
            <tr>
                <th>{{ 'field.updated'|trans }}</th>
                <td>{{ entity.updated|datertz }}</td>
            </tr>
        </tbody>
    </table>



    {% block issue_activity_block %}
        <div id="issue_activity_block">
            <h4>{{ 'title.activity'|trans }}</h4>
            {{ include('MagecoreTestTaskBundle:Activity:list_frame.html.twig',{activities : entity.activities}) }}
        </div>
    {% endblock %}

    {% block issue_coloborators_block %}
        <div id="issue_activity_block">
            <h4>{{ 'title.collaborators'|trans }}</h4>
            {% if entity.collaborators %}
                <ul>
                {% for collaborator in entity.collaborators %}
                    <li>
                    {{ frms.linkEnt(collaborator) }}
                        </li>
                {% endfor %}
                    </ul>
            {% endif %}
        </div>
    {% endblock %}

    {% block issue_story_child_block %}
        <div>
            {% if entity.isStory %}
                <div>
                    <h4>{{ 'title.child.issue'|trans }}</h4>
                    <ul>
                    {% for child in entity.children %}
                        <li>
                        <a href="{{ path('magecore_testtask_issue_show',{id: child.id}) }}">
                            {{ child }}
                        </a>
                        </li>
                    {% endfor %}
                        </ul>
                    </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block issue_subtask_parent_block %}
        <div>
            {% if entity.isSubtask %}
                <div>
                    <p>
                        {{ 'title.parent.issue'|trans }} <a href="{{ path('magecore_testtask_issue_show',{id: entity.parentIssue.id}) }}">
                                 {{ entity.parentIssue }}
                            </a>
                    </p>
                </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block comments %}
        <h4>{{ 'title.comments'|trans }}</h4>
        <div id="comments_list_div">
        {{ include('MagecoreTestTaskBundle:Comment:index.html.twig',{entities: entity.comments, addComment: addComment, issue_id:entity.id}) }}
        </div>

    {% endblock %}

{% endblock %}


{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('magecore_testtask_issue') }}" class="btn btn-lg btn-block btn-success" >
            {{ 'action.back.list'|trans }}
        </a>
        <a href="{{ path('magecore_testtask_issue_edit', { 'id': entity.id }) }}" class="btn btn-lg btn-block btn-success">
            {{ 'action.edit'|trans }}
        </a>
    </div>

    <div class="section actions">
        {% if entity.isStory %}
            <a href="{{ path('magecore_testtask_issue_subtask_create',{id : entity.id}) }}" class="btn btn-lg btn-block btn-success">
                {{ 'action.add.child'|trans }}
            </a>
        {% endif %}
        {% if entity.isSubtask %}
                <p>
                    {{ 'title.parent.issue'|trans }} <a href="{{ path('magecore_testtask_issue_show',{id: entity.parentIssue.id}) }}" class="btn btn-lg btn-block btn-success">
                        {#{{ entity.parentIssue }}#}
                        {{ 'action.toparent'|trans }}
                    </a>
                </p>
        {% endif %}
    </div>

    {{ parent() }}
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/magecoretesttask/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/magecoretesttask/js/jquery-2.1.4.min.js') }}"></script>
    <script>
        initAjaxForm();
    </script>
{% endblock %}
