{% extends '::base.html.twig' %}



{% block main %}
    <h1>{{ 'issue.title'|trans }}</h1>
    {% import "MagecoreTestTaskBundle:Macro:Macro.html.twig" as frms %}


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{{ 'field.id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'field.summary.issue'|trans }}</th>
                <td>{{ entity.summary }}</td>
            </tr>
            <tr>
                <th>{{ 'field.code'|trans }}</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>{{ 'field.description'|trans }}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ 'field.type'|trans }}</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>{{ 'field.reporter'|trans }}</th>
                <td>{{ frms.linkEnt(entity.reporter) }}</td>
            </tr>
            <tr>
                <th>{{ 'field.assigned'|trans }}</th>
                <td>{{ frms.linkEnt(entity.assignee) }}</td>
            </tr>
            <tr>
                <th>{{ 'field.project'|trans }}</th>
                <td>{{ frms.linkEnt(entity.project) }}</td>
            </tr>
            <tr>
                <th>{{ 'field.status'|trans }}</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>{{ 'field.resolution'|trans }}</th>
                <td>{% if entity.resolution %}{{ entity.resolution }}{% else %}UnResolved{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'field.created'|trans }}</th>
                <td>{{ entity.created|datertz }}</td>
            </tr>
            <tr>
                <th>{{ 'field.updated'|trans }}</th>
                <td>{{ entity.updated|datertz }}</td>
            </tr>
        </tbody>
    </table>



    {% block issue_activity_block %}
        <div id="issue_activity_block">
            <h4>{{ 'title.activity'|trans }}</h4>
            {{ include('MagecoreTestTaskBundle:Activity:list_frame.html.twig',{activities : entity.activities}) }}
        </div>
    {% endblock %}

    {% block issue_coloborators_block %}
        <div id="issue_activity_block">
            <h4>{{ 'title.collaborators'|trans }}</h4>
            {% if entity.collaborators %}
                <ul>
                {% for collaborator in entity.collaborators %}
                    <li>
                    {{ frms.linkEnt(collaborator) }}
                        </li>
                {% endfor %}
                    </ul>
            {% endif %}
        </div>
    {% endblock %}

    {% block issue_story_child_block %}
        <div>
            {% if entity.isStory %}
                <div>
                    <h4>{{ 'title.child.issue'|trans }}</h4>
                    <ul>
                    {% for child in entity.children %}
                        <li>
                        <a href="{{ path('magecore_testtask_issue_show',{id: child.id}) }}">
                            {{ child }}
                        </a>
                        </li>
                    {% endfor %}
                        </ul>
                    </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block issue_subtask_parent_block %}
        <div>
            {% if entity.isSubtask %}
                <div>
                    <p>
                        {{ 'title.parent.issue'|trans }} <a href="{{ path('magecore_testtask_issue_show',{id: entity.parentIssue.id}) }}">
                                 {{ entity.parentIssue }}
                            </a>
                    </p>
                </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block comments %}
        <h4>{{ 'title.comments'|trans }}</h4>
        <div id="comments_list_div">
        {{ include('MagecoreTestTaskBundle:Comment:index.html.twig',{entities: entity.comments, addComment: addComment, issue_id:entity.id}) }}
        </div>

    {% endblock %}

{% endblock %}


{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('magecore_testtask_issue') }}" class="btn btn-lg btn-block btn-success" >
            Back to the list
        </a>
        <a href="{{ path('magcore_testtask_issue_edit', { 'id': entity.id }) }}" class="btn btn-lg btn-block btn-success">
            {{ 'action.edit'|trans }}
        </a>
    </div>

    <div class="section actions">
        {% if entity.isStory %}
            <a href="{{ path('magecore_testtask_issue_subtask_create',{id : entity.id}) }}" class="btn btn-lg btn-block btn-success">
                {{ 'action.add.child'|trans }}
            </a>
        {% endif %}
        {% if entity.isSubtask %}
                <p>
                    {{ 'title.parent.issue'|trans }} <a href="{{ path('magecore_testtask_issue_show',{id: entity.parentIssue.id}) }}" class="btn btn-lg btn-block btn-success">
                        {#{{ entity.parentIssue }}#}
                        {{ 'action.toparent'|trans }}
                    </a>
                </p>
        {% endif %}
    </div>

    {{ parent() }}



{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript" src="{{ asset('bundles/magecoretesttask/js/main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/magecoretesttask/js/jquery-2.1.4.min.js') }}"></script>
            <script>
                initAjaxForm();
                //                initmyAjaxForm();
            </script>
            {#<script>#}
            {#function myFunction() {#}
            {#document.getElementById("demo").innerHTML = "Paragraph changed.";#}
            {#}#}
            {#</script>#}
            {#<script>function initmyAjaxForm()#}
            {#{#}
            {#$('body').on('submit', '.myajaxForm', function (e) {#}

            {#e.preventDefault();#}

            {#$.ajax({#}
            {#type: $(this).attr('method'),#}
            {#url: $(this).attr('action'),#}
            {#data: $(this).serialize()#}
            {#})#}
            {#.done(function (data) {#}
            {#if (typeof data.message !== 'undefined') {#}
            {#alert(data.message);#}
            {#}#}
            {#})#}
            {#.fail(function (jqXHR, textStatus, errorThrown) {#}
            {#if (typeof jqXHR.responseJSON !== 'undefined') {#}
            {#if (jqXHR.responseJSON.hasOwnProperty('form')) {#}
            {#$('#form_body').html(jqXHR.responseJSON.form);#}
            {#}#}

            {#$('.form_error').html(jqXHR.responseJSON.message);#}

            {#} else {#}
            {#alert(errorThrown);#}
            {#}#}

            {#});#}
            {#});#}
            {#}#}
            {#</script>#}
            {#<script>function sendAjax()#}
            {#{#}
            {#var xmlhttp;#}
            {#if (window.XMLHttpRequest)#}
            {#{// code for IE7+, Firefox, Chrome, Opera, Safari#}
            {#xmlhttp=new XMLHttpRequest();#}
            {#}#}
            {#else#}
            {#{// code for IE6, IE5#}
            {#xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");#}
            {#}#}
            {#xmlhttp.onreadystatechange=function()#}
            {#{#}
            {#if (xmlhttp.readyState==4 && xmlhttp.status==200)#}
            {#{#}
            {#document.getElementById("myajax").innerHTML=xmlhttp.responseText;#}
            {#}#}
            {#}#}

            {#xmlhttp.open("POST","{{ path('magecore_testtask_comment_create') }}",true);#}
            {#xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");#}
            {#xmlhttp.send("body=" + 1 );#}
            {#}#}
            {#</script>#}
            {#<script>function sendmyAjax()#}
            {#{#}
            {#//alert('ok!');#}
            {#$.ajax({#}
            {#url: "{{ path('magecore_testtask_comment_create',{id : entity.id}) }}",#}
            {#type: 'post',#}
            {#//                            data: $('.myajaxForm').serialize(),#}
            {#data: $('.ajaxForm').serialize(),#}
            {#success: function(data, status) {#}
            {#$('#myajax').html(data);#}
            {#//console.log(data);#}
            {#},#}
            {#error: function(xhr, desc, err) {#}
            {#console.log(xhr);#}
            {#console.log("Details: " + desc + "\nError:" + err);#}
            {#}#}

            {#});#}


            {#//                        $.ajax({#}
            {#//                            type: $('.myajaxForm').attr('method'),#}
            {#//                            url: $('.myajaxForm').attr('action'),#}
            {#//                            data: $('.myajaxForm').serialize()#}
            {#//                        })#}
            {#//                                .done(function (data) {#}
            {#//                                    if (typeof data.message !== 'undefined') {#}
            {#//                                        alert(data.message);#}
            {#//                                    }#}
            {#//                                })#}
            {#//                                .fail(function (jqXHR, textStatus, errorThrown) {#}
            {#//                                    if (typeof jqXHR.responseJSON !== 'undefined') {#}
            {#//                                        if (jqXHR.responseJSON.hasOwnProperty('form')) {#}
            {#//                                            $('#form_body').html(jqXHR.responseJSON.form);#}
            {#//                                        }#}
            {#//#}
            {#//                                        $('.form_error').html(jqXHR.responseJSON.message);#}
            {#//#}
            {#//                                    } else {#}
            {#//                                        alert(errorThrown);#}
            {#//                                    }#}
            {#//#}
            {#//                                });#}
            {#//                    });#}
            {#}#}
            {#</script>#}
        {% endblock %}
