{% extends '::base.html.twig' %}



{% block body -%}
    <h1>Issue</h1>
    {% import "MagecoreTestTaskBundle:Macro:Macro.html.twig" as frms %}

    {#{ frms.linkParams(route_helper.Route(app.user)) }#}


    {{ frms.linkEnt(app.user) }}
<br>
    {{ "now"|date('Y-m-d H:i:s','UTC') }}
    <br>
    {{ "now"|date('Y-m-d H:i:s','Europe/Kiev') }}
    <br>
    {{ "now"|date('Y-m-d H:i:s','Europe/Paris') }}
    <br>
    {{ "now"|date('Y-m-d H:i:s') }}


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ entity.summary }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Reporter</th>
                {#<td>{{ entity.reporter }}</td>#}

                {#<td>{{ frms.link( path( entity.reporter|url , {id : entity.reporter.id} ), entity.reporter ) }}</td>#}
                {#<td>{{ frms.linkfull(entity.reporter) }}</td>#}
                <td>{{ frms.linkEnt(entity.reporter) }}</td>
            </tr>
            <tr>
                <th>Assigned</th>
                {#<td>{{ entity.assignee }}</td>#}
                <td>{{ frms.linkEnt(entity.assignee) }}</td>
            </tr>
            {#<tr>#}
                {#<th>Collaborators</th>#}
                {#<td>Become soon..&#123;&#35;{ entity.assignee }&#35;&#125;</td>#}
            {#</tr>#}
            <tr>
                <th>Project</th>
                {#<td>{{ entity.project }}</td>#}
                <td>{{ frms.linkEnt(entity.project) }}</td>
            </tr>
            {#<tr>#}
                {#<th>ParentIssue</th>#}
                {#<td>{{ frms.linkEnt(entity.parentIssue) }}</td>#}
            {#</tr>#}
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Resolution</th>
                <td>{% if entity.resolution %}{{ entity.resolution }}{% else %}UnResolved{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                {#<td>{{ entity.created|date('Y-m-d H:i:s',app.user.gettimezone) }}</td>#}
                {#<td>{{ entity.created|datertz(app.user) }}</td>#}
                <td>{{ entity.created|datertz }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                {#<td>{{ entity.updated|date('Y-m-d H:i:s',app.user.gettimezone) }}</td>#}
                <td>{{ entity.updated|datertz }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('magecore_testtask_issue') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('magcore_testtask_issue_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

    {% block issue_activity_block %}
        <div id="issue_activity_block">
            <h4>Activity</h4>
            {#<p>Here must be an activity</p>#}
            {{ include('MagecoreTestTaskBundle:Activity:list_frame.html.twig',{activities : entity.activities}) }}
        </div>
    {% endblock %}

    {% block issue_coloborators_block %}
        <div id="issue_activity_block">
            {#<p>Here must be issue_coloborators_block</p>#}
            <h4>Collaborators</h4>
            {% if entity.collaborators %}
                <ul>
                {% for collaborator in entity.collaborators %}
                    <li>
                    {{ frms.linkEnt(collaborator) }}
                        </li>
                {% endfor %}
                    </ul>
            {% endif %}
        </div>
    {% endblock %}

    {% block issue_story_child_block %}
        <div>
            {#<p>Here must be issue_story_child_block</p>#}

            {% if entity.isStory %}
                <div>
                    <h4>Child issues:</h4>
                    <ul>
                    {% for child in entity.children %}
                        <li>
                        <a href="{{ path('magecore_testtask_issue_show',{id: child.id}) }}">
                            {{ child }}
                        </a>
                        </li>
                    {% endfor %}
                        </ul>
                    </div>
                <a href={{ path('magecore_testtask_issue_subtask_create',{id : entity.id}) }}>
                    add child
                    </a>
            {% endif %}
        </div>
    {% endblock %}

    {% block issue_subtask_parent_block %}
        <div>
            {#<p>Here must be issue_subtask_parent_block</p>#}
            {% if entity.isSubtask %}
                <div>

                    Parent: <a href="{{ path('magecore_testtask_issue_show',{id: entity.parentIssue.id}) }}">
                                 {{ entity.parentIssue }}
                            </a>
                </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block comments %}
        {#<p> Here must be an comments + button</p>#}
        <h4>Comments</h4>
        <div id="comments_list_div">
        {{ include('MagecoreTestTaskBundle:Comment:index.html.twig',{entities: entity.comments, addComment: addComment, issue_id:entity.id}) }}
        </div>

        {#<p>form:</p>#}
        {#&#123;&#35;{{ dump(addComment) }}&#35;&#125;#}
        {#<p>form:</p>#}
        {#&#123;&#35;{{ form(addComment) }}&#35;&#125;#}
        {#{% block Formbody -%}#}

            {#<h1>Demo creation</h1>#}
            {#<div id="myajax">#}
                {#Here must be anser#}
                {#</div>#}

            {#<div class="form_error"></div>#}
            {#<form method="POST" class="ajaxForm" action="{{path('magecore_testtask_comment_create',{id: entity.id })}}" {{ form_enctype(addComment) }}>#}
                {#<div id="form_body">#}
                    {#{% include 'MagecoreTestTaskBundle:Comment:form.html.twig' with {'form': addComment} %}#}
                {#</div>#}

                {#<button type="submit" class="btn btn-primary" id="button_submit" >Submit</button>#}
                {#{{form_rest(addComment)}}#}
            {#</form>#}

            {#<ul class="record_actions">#}
                {#<li>#}
                    {#<a href="{{ path('demo') }}">#}
                        {#Back to the list#}
                    {#</a>#}
                {#</li>#}
            {#</ul>#}
            {#<h1>JavaScript in Body</h1>#}

            {#<p id="demo">A Paragraph.</p>#}

            {#<button type="button" onclick="myFunction()">Try it</button>#}



            {#<button type="button" onclick="sendAjax()">hiddensubmint</button>#}

                {#&#123;&#35;<form method="POST" class="myajaxForm" action="{{path('magecore_testtask_comment_create')}}" >&#35;&#125;#}
                    {#&#123;&#35;<div id="form_body">&#35;&#125;#}
                        {#&#123;&#35;<input name="body">&#35;&#125;#}
                    {#&#123;&#35;</div>&#35;&#125;#}



                {#&#123;&#35;</form>&#35;&#125;#}
                {#<button type="button"  onclick="sendmyAjax()" >K8ill dirty pigs|!!!!!</button>#}

                {#{% endblock %}#}



    {% endblock %}

{% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript" src="{{ asset('bundles/magecoretesttask/js/main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/magecoretesttask/js/jquery-2.1.4.min.js') }}"></script>
            <script>
                initAjaxForm();
//                initmyAjaxForm();
            </script>
            {#<script>#}
                {#function myFunction() {#}
                    {#document.getElementById("demo").innerHTML = "Paragraph changed.";#}
                {#}#}
            {#</script>#}
            {#<script>function initmyAjaxForm()#}
                {#{#}
                    {#$('body').on('submit', '.myajaxForm', function (e) {#}

                        {#e.preventDefault();#}

                        {#$.ajax({#}
                            {#type: $(this).attr('method'),#}
                            {#url: $(this).attr('action'),#}
                            {#data: $(this).serialize()#}
                        {#})#}
                                {#.done(function (data) {#}
                                    {#if (typeof data.message !== 'undefined') {#}
                                        {#alert(data.message);#}
                                    {#}#}
                                {#})#}
                                {#.fail(function (jqXHR, textStatus, errorThrown) {#}
                                    {#if (typeof jqXHR.responseJSON !== 'undefined') {#}
                                        {#if (jqXHR.responseJSON.hasOwnProperty('form')) {#}
                                            {#$('#form_body').html(jqXHR.responseJSON.form);#}
                                        {#}#}

                                        {#$('.form_error').html(jqXHR.responseJSON.message);#}

                                    {#} else {#}
                                        {#alert(errorThrown);#}
                                    {#}#}

                                {#});#}
                    {#});#}
                {#}#}
            {#</script>#}
            {#<script>function sendAjax()#}
                {#{#}
                    {#var xmlhttp;#}
                    {#if (window.XMLHttpRequest)#}
                    {#{// code for IE7+, Firefox, Chrome, Opera, Safari#}
                        {#xmlhttp=new XMLHttpRequest();#}
                    {#}#}
                    {#else#}
                    {#{// code for IE6, IE5#}
                        {#xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");#}
                    {#}#}
                    {#xmlhttp.onreadystatechange=function()#}
                    {#{#}
                        {#if (xmlhttp.readyState==4 && xmlhttp.status==200)#}
                        {#{#}
                            {#document.getElementById("myajax").innerHTML=xmlhttp.responseText;#}
                        {#}#}
                    {#}#}

                    {#xmlhttp.open("POST","{{ path('magecore_testtask_comment_create') }}",true);#}
                    {#xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");#}
                    {#xmlhttp.send("body=" + 1 );#}
                {#}#}
            {#</script>#}
                {#<script>function sendmyAjax()#}
                    {#{#}
                        {#//alert('ok!');#}
                        {#$.ajax({#}
                            {#url: "{{ path('magecore_testtask_comment_create',{id : entity.id}) }}",#}
                            {#type: 'post',#}
{#//                            data: $('.myajaxForm').serialize(),#}
                            {#data: $('.ajaxForm').serialize(),#}
                            {#success: function(data, status) {#}
                                 {#$('#myajax').html(data);#}
                                {#//console.log(data);#}
                            {#},#}
                            {#error: function(xhr, desc, err) {#}
                                        {#console.log(xhr);#}
                                        {#console.log("Details: " + desc + "\nError:" + err);#}
                            {#}#}

                        {#});#}


{#//                        $.ajax({#}
{#//                            type: $('.myajaxForm').attr('method'),#}
{#//                            url: $('.myajaxForm').attr('action'),#}
{#//                            data: $('.myajaxForm').serialize()#}
{#//                        })#}
{#//                                .done(function (data) {#}
{#//                                    if (typeof data.message !== 'undefined') {#}
{#//                                        alert(data.message);#}
{#//                                    }#}
{#//                                })#}
{#//                                .fail(function (jqXHR, textStatus, errorThrown) {#}
{#//                                    if (typeof jqXHR.responseJSON !== 'undefined') {#}
{#//                                        if (jqXHR.responseJSON.hasOwnProperty('form')) {#}
{#//                                            $('#form_body').html(jqXHR.responseJSON.form);#}
{#//                                        }#}
{#//#}
{#//                                        $('.form_error').html(jqXHR.responseJSON.message);#}
{#//#}
{#//                                    } else {#}
{#//                                        alert(errorThrown);#}
{#//                                    }#}
{#//#}
{#//                                });#}
{#//                    });#}
                    {#}#}
                {#</script>#}
        {% endblock %}