{% extends 'base.html.twig' %}


{% block body %}
    <div style="background-color: #0088CC; border-radius: 10px">
        {% block FormTitle %} <h1> Create new project</h1> {% endblock %}

        <div style="color:red">{{ form_errors(form) }}</div>

{{ form_start(form) }}

<div style="border-bottom-left-radius: 5px; left: 40px;width: 300px" >


    <div style="background-color: #8888BB; width: 250px; color: #66dd66">
        {{ form_label(form.summary) }}
        {{ form_errors(form.summary) }}
        {{ form_widget(form.summary) }}
    </div>
    <div style="background-color: #998899; width: 250px; color: #66dd66">
        {{ form_label(form.code) }}
        {{ form_errors(form.code) }}
        {{ form_widget(form.code) }}
    </div>
    <div style="background-color: #8888BB; width: 250px; color: #66dd66">
        {{ form_label(form.label) }}
        {{ form_errors(form.label) }}
        {{ form_widget(form.label) }}
    </div>



</div>
        {% block ButtonSave %}
{{ form_row(form.save) }}
        {% endblock %}
{{ form_end(form) }}
        </div>
{% block MembersList %}
    <p>add members??</p>
{% endblock %}
{% endblock %}
