{% extends 'base.html.twig' %}


{% block main %}
    <div style="background-color: #0088CC; border-radius: 10px">
        {% block FormTitle %} <h1>{{ 'title.new.project'|trans }}</h1> {% endblock %}

        <div style="color:red">{{ form_errors(form) }}</div>

{{ form_start(form) }}

<div style="border-bottom-left-radius: 5px; left: 40px;width: 300px" >


    <div style="background-color: #8888BB; width: 250px; color: #66dd66">
        {{ form_label(form.summary) }}
        {{ form_errors(form.summary) }}
        {{ form_widget(form.summary) }}
    </div>
    <div style="background-color: #998899; width: 250px; color: #66dd66">
        {{ form_label(form.code) }}
        {{ form_errors(form.code) }}
        {{ form_widget(form.code) }}
    </div>
    <div style="background-color: #8888BB; width: 250px; color: #66dd66">
        {{ form_label(form.label) }}
        {{ form_errors(form.label) }}
        {{ form_widget(form.label) }}
    </div>



</div>
        {% block MembersList %}
            <p>{{ 'title.add.members'|trans }}</p>
            {% form_theme form _self %}

            {% block _project_members %}
                <div {{ block('widget_container_attributes') }}>
                    {%- for child in form.members %}
                        <div style="border-radius: 3px; background-color: #00AA88; color:#00AA88; width: 200px">
                            {{- form_widget(child) -}}
                            {{- form_label(child) -}}
                        </div>
                    {% endfor -%}
                </div>
            {% endblock %}
            {{ form_row(form.members,{'attr': {'width':'300px;'}}) }}
        {% endblock %}

        {% block ButtonSave %}
{{ form_row(form.save) }}
        {% endblock %}
{{ form_end(form) }}
        </div>

{% endblock %}
