{% extends 'base.html.twig' %}


{% block body %}
    <h2>View project :{{ project.code }}</h2>
<div>
    <h3>label:</h3>
    <h1>{{ project.label }}</h1>
    <h3>summary:</h3>
    <div style="background-color: #8888BB; width: 400px; color: #66dd66; border-radius: 7px">
        <textarea readonly rows="20" cols="50" align="center">{{ project.summary }}</textarea>
    </div>
    <div>
        <p>Here must be members list</p>
        <div style="width: 350px">

        {% if not project.members.isEmpty %}
            <ul>
            {% for member in project.members %}
                <li>
                <div style="border-radius: 3px; background-color: #0081c2;width: auto">
                    {{ member.username }}
                </div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>

    {% if app.user and (is_granted( 'ROLE_ADMIN' ) or is_granted('ROLE_MANAGER') ) %}
        <a href="{{ path('magecore_test_task_project_update', { id: project.id }) }}">
            edit
        </a>
        <a href="{{ path('magecore_test_task_project_create') }}">
            New Project
        </a>
    {% endif %}

    {% if app.user and (is_granted( 'ROLE_ADMIN' ) or is_granted('ROLE_MANAGER') or project.member(app.user) ) %}
        <a href="{{ path('magecore_testtask_issue_create', { id: project.id }) }}">
            New Issue
        </a>
    {% endif %}

    <div>
        <p>Here must be activity</p>
        {% for project %}
    </div>

    <div>
        <p>additional: list of issues of a project;</p>
        {% if project.issues %}
            <ul>
            {% for issue in project.issues %}
                <li>
                <a href="{{ path('magecore_testtask_issue_show',{id : issue.id}) }}">
                    {{ issue }}
                </a>
                    </li>
            {% endfor %}
                </ul>
        {% else %}
            <div>No issues found</div>
        {% endif %}
    </div>



</div>
{% endblock %}