{% extends 'base.html.twig' %}

{% block title %}{{ project.code }} {{ project.label }}{% endblock %}

{% block main %}
    {% import "MagecoreTestTaskBundle:Macro:Macro.html.twig" as frms %}
    <h2>{{ 'title.project.view'|trans }} :{{ project.code }}</h2>
<div class="panel panel-info">
    <h3>{{ 'field.label.project'|trans }}:{{ project.label }}</h3>
    <h3>{{ 'field.summary.project'|trans }}</h3>
    <div class=" text-info">
        <textarea readonly rows="20" cols="50" align="center">{{ project.summary }}</textarea>
        {##}
    </div>
    <div class="panel panel-info">
        <p>{{ 'title.members.list'|trans }}</p>
        <div style="width: 350px">

        {% if not project.members.isEmpty %}
            <ul>
            {% for member in project.members %}
                <li>
                <div style="border-radius: 3px; background-color: #0081c2;width: auto">
                    {{ frms.linkEnt(member) }}
                </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'message.no.members'|trans }}</p>
        {% endif %}
        </div>
    </div>


    <div class="panel panel-info" >
        <p>{{ 'title.activity'|trans }}</p>
        {{ include('MagecoreTestTaskBundle:Activity:list_frame.html.twig',{activities : activities}) }}
    </div>

    <div id="project_issue_list" class="panel panel-info">
        {#<p>additional: list of issues of a project;</p>#}
        <p>{{ 'title.issue.list'|trans }}</p>
        {{ include('MagecoreTestTaskBundle:Issue:list_frame.html.twig',{issues : project.issues}) }}
    </div>



</div>
{% endblock %}


{% block sidebar %}
    <div class="section actions">
    {% if app.user and (is_granted( 'ROLE_ADMIN' ) or is_granted('ROLE_MANAGER') ) %}
        <a href="{{ path('magecore_test_task_project_update', { id: project.id }) }}" class="btn btn-lg btn-block btn-success">
            {{ 'action.edit'|trans }}
        </a>
        <a href="{{ path('magecore_test_task_project_create') }}" class="btn btn-lg btn-block btn-success">
            {{ 'action.new.project'|trans }}
        </a>
    {% endif %}

    {% if app.user and (is_granted( 'ROLE_ADMIN' ) or is_granted('ROLE_MANAGER') or project.member(app.user) ) %}
        <a href="{{ path('magecore_testtask_issue_create', { id: project.id }) }}" class="btn btn-lg btn-block btn-success">
            {{ 'action.new.issue'|trans }}
        </a>
    {% endif %}
    </div>
{% endblock %}